name: Build Fedora rootfs tarball

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  build-rootfs:
    runs-on: ubuntu-latest
    container:
      image: quay.io/fedora/fedora:rawhide

    steps:
      - name: Build rootfs
        run: |
          dnf -y --releasever=rawhide --installroot="$(pwd)"/fedora-rootfs \
            --use-host-config --setopt=install_weak_deps=0 \
            --repo=fedora --repo=updates install \
            passwd dnf fedora-release nano util-linux systemd systemd-networkd

      - name: Clean up rootfs
        run: |
          dnf -y --installroot="$(pwd)"/fedora-rootfs clean all

      - name: Prepare tarball
        run: |
          tar -C fedora-rootfs -cJf fedora-rootfs.tar.xz .

      - name: Upload tarball
        uses: actions/upload-artifact@v5
        with:
          name: fedora-rootfs
          path: fedora-rootfs.tar.xz
          retention-days: 3
